

@use "header";
@use "about";
@use "services";
@use "technologies";
@use "process";
@use "join";
@use "footer";

html {
    background-color: #302C42;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    color: white;
    padding: 0px 10px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}